html {
  box-sizing: border-box;
}

.header-img {
  background: url('./headerimg3.jpg') center;
}
.fixed-right {
  position: fixed;
  right: 0;
}
.absolute {
  position: absolute;
}
.aside-img {
  opacity: 0;
}
.pt-20 {
  padding-top: 20vh;
}
.z-index-2 {
  z-index: 2
}
.mt-50 {
  margin-top: 50vh;
}

.pct{
  height: 400px;
  width: 700px;
}
.ctb {
  text-align: center;
}
#go {
  position: relative;
  top:45%;
  color:white;
  border-radius:30px;
}
.obs {
  width: 100%;
  height: 450px;
  background: black
}
.myPic{
  float:left;
  margin-top: 10px;
  margin-left: 20px;
  height: 95%;
  width: 10%;
}

.txt{
  position: relative;
  top:120px;
  color:whitesmoke;
  -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: red;
}

