html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header-img {
  background: url('./headerimg3.jpg') center;
}
.fixed-right {
  position: fixed;
  right: 0;
}
.absolute {
  position: absolute;
}
.aside-img {
  opacity: 0;
}
.pt-20 {
  padding-top: 20vh;
}
.z-index-2 {
  z-index: 2
}
.mt-50 {
  margin-top: 10vh;
}
#down-arrow {
  position: absolute;
  bottom: 20px;
  left: 37.5%;
}